@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Asset&family=Kaisei+HarunoUmi:wght@400;500;700&family=Lexend+Tera:wght@200;300;500;600;800&family=Vibes&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
}

.background {
    /* display: flex; */
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #E0D8CA 78%,#000000 50%, #000000 80%, #E0D8CA 60%);
    z-index: 2;
    overflow: hidden;
}

.nav-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 1; */
}
.nav-container div {
    flex: 1;
 }
.nav-info {
    align-items: none;
}
.info {
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    padding-left: 25px;
    margin-top: -50px;
    align-items: none;
    color: #BDAE97;
    font-family: 'Lexend Tera', sans-serif;
    letter-spacing: 1px;
}
.logo-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.logo {
    height: 120px;
    width: auto;
    margin-top: 10px;
    padding: 0px 70px;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.nav {
    display: flex;
    justify-content: center;
    position: relative;  
}

.nav-list {
    display: flex;
    font-size: 27px;
}
.items {
    display: flex;
    padding-left: 10px;
}

.item {
    color: #70685A;
    list-style: none;
    text-decoration: none;
    padding: 4px 20px;
    font-family: 'Lexend Tera', sans-serif;
}

.item:hover {
    padding: 3px 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 0px #BDAE97;
    color: #BDAE97;
}

#active {
    box-shadow: 0px 2px 0px #BDAE97;
    border-radius: 10px;
}

.container-items {
	position: absolute;
	bottom: 0;
	width: 82%;
	height: 80px;
	display: flex;
	align-items: center;
    justify-content: center;
	cursor: pointer;
    padding-right: 200px;

}

.hero-info {
    height: 550px;
    width: 30%;
    display: flex;
    float: left;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-left: 57.4px;
    border-left: 2px solid #705B38;
    /* border-right: 2px solid #705B38; */
}

.hero-info h1 {
    font-family: 'Asset', cursive;
    padding-top: 100px;
    width: 65%;
}
.hero-info p {
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 17px;
    font-weight: 200;
    padding-top: 30px;
    /* text-transform: uppercase; */
    line-height: 30px;
    padding-bottom: 100px;
    
}


.hero-main {
    height: 550px;
    width: 982.6px;
    float: left;
    /* border: 2px solid black; */
    border-right: 2px solid #705B38;
    padding-right: 400px;

}
 
.main-container1 {
    height: 175px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    font-size: 83px;
    /* border: 2px solid black; */
    margin-top: 100px;
}

.main-container2 {
    height: 175px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    font-size: 108px;
    padding-left: 20px;
    /* border: 2px solid black; */
    margin-top: 100px;
}

.main-container3 {
    height: 175px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    clear: left;
    font-size: 51px;
    padding-top: 20px;
    /* border: 2px solid black; */
}

.main-container4 {
    height: 175px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    padding-top: 20px;
    padding-left: 20px;
    /* border: 2px solid black; */
}

.main-container1,
.main-container2,
.main-container3,
.main-container4, .left-main {
    width: 50%;
}

.left-main#pic1 {
    width: 125px;
    height: 175px;
    color: #FFFFFF;
    /* background: linear-gradient(270deg, rgba(50,50,50,0.6) 0%, rgba(215,215,215,0.6) 100%), url(/imgs/Fashion.jpg);
    background-size: cover; */
}
.left-main#pic2 {
    width: 125px;
    height: 175px;
    color: #FFFFFF;
    /* background: linear-gradient(270deg, rgba(50,50,50,0.6) 0%, rgba(215,215,215,0.6) 100%), url(/imgs/Music1.jpg); */
    background-size: cover;
}
.left-main#pic3 {
    width: 125px;
    height: 175px;
    color: #FFFFFF;
    /* background: linear-gradient(270deg, rgba(50,50,50,0.6) 0%, rgba(215,215,215,0.6) 100%), url(/imgs/Photography.JPG); */
    background-size: contain;
}
.left-main#pic4 {
    width: 125px;
    height: 175px;
    color: #FFFFFF;
    /* background: linear-gradient(270deg, rgba(50,50,50,0.6) 0%, rgba(215,215,215,0.6) 100%), url(/imgs/static-gif-2.gif); */
}
.main-container1,
.main-container2,
.main-container3,
.main-container4, .right-main {
    width: 50%;
}



.right-main {
    /* border: 1px black solid; */
    width: 325px;
    height: 200px;
    margin-left: -100px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-family: 'Kaisei HarunoUmi', serif;
}

.right-main .title1 {
    width: 200px;
    font-weight: 100;
}
.right-main .title2 {
    width: 200px;
}
.right-main .title3 {
    width: 200px;
}
.right-main .title4 {
    width: 200px;
    background-image: url(/imgs/アニメ.svg);
    background-size: cover;
}

.item-home {
	position: relative;
	flex-grow: 1;
	font-family: 'Italiana', serif;
	font-size: 100px;
	transition: all 50ms ease-in-out;
	margin-bottom: 100px;
}

.item-home:nth-child(2) {
    margin-top: 0px;
    rotate: 5deg;
}
.item-home:nth-child(3) {
    margin-top: -100px;
    rotate: -3deg;
}
.item-home:nth-child(4) {
    margin-top: 0px;
    rotate: -10deg;
}
.item-home:nth-child(5) {
    margin-top: -150px;
    rotate: 5deg;
}
.item-home:nth-child(6) {
    margin-top:-50px;
    rotate: -15deg;
}
.item-home:nth-child(7) {
    margin-top: -120px;
    margin-right: -80px;
}
.item-home:nth-child(8) {
    margin-top: -400px;
    margin-right: -180px;
    rotate: 20deg;
}
.item-home:nth-child(9) {
    margin-top: -800px;
    margin-right: -230px;
    rotate: -10deg;
}

.item-home:hover {
	flex-grow: 1;
	font-size: 130px;

}

h3 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #000;
    font-family: 'asset', cursive;
    word-spacing: 50px;
    font-weight: 100;
}

img {
	width: 100%;
}

.container-img-wrap {
	position: absolute;
	top: -85rem;
	left: -150px;
	width: 400px;
	height: 500px;
	overflow: hidden;
	pointer-events: none;
	visibility: hidden;
}

.container-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
}
.box-container {
    position: relative;
    float: right;
    margin: 0px 100px;
    margin-top: 60px;

}

audio {
    position: absolute;
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    padding-left: 150px;
    border-radius: 5px;
}

.box {
    position: relative;
    background-color: var(--dark);
    border: 0.25rem solid var(--dark);
    height: 8rem;
    width: 8rem;
    outline: 0;
    overflow: hidden;
    display: flex;
    margin-left: 250px;
}

.box::before {
    content: url(/imgs/The\ House\ Club4.svg);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box::after {
    content: '';
    position: absolute;
    bottom: -50%;
    left: -50%;
    height: 200%;
    width: 200%;
    background-color: var(--background);
    border-radius: 36%;
    animation: spin 8s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: translateY(0)
        rotate(0deg);
    }
    100% {
        transform: translateY(-100%) rotate(520deg);
    }
}

/* index footer */


footer {
    position: absolute;
    display: flex;
    width: 100%;
    height: 200px;
    bottom: 0;
    margin-bottom: -200px;
}

.footer-top {
    width: 100%;
    display: flex;
    height: 135px;
    justify-content: space-between;
    align-items: center;
    color: #E0D8CA;
    background: #000000;
    padding-left: 30px;
}

.footer-right {
    width: 100%;
    height: 135px;
    display: flex;
    background-color: #000000;
    color: #E0D8CA;
    justify-content: center;
    align-items: center;

}

.footer-icon-list {
    display: flex;
    list-style: none;
    text-decoration: none;
    font-size: 60px;
}

.footer-icon-list i {
    padding: 0px 20px;
    color: #E0D8CA;
}

.footer-bottom {
    position: absolute;
    width: 100%;
    height: 65px;
    display: flex;
    bottom: 0px;
    background: #E0D8CA;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}


.footer-info {
    display: flex;
    justify-content: center;
    color: #E0D8CA;
}

.mail-color {
    color: #E0D8CA;
}

.footer-info div {
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.footer-info span {
    display: flex;
    justify-content: center;
}
